{% extends "layout.html" %}

{% block content %}
    <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-collapse collapse">

        <ul class="nav navbar-nav navbar-left">
            <!--<img alt="LOGO" src="...">-->
            <input type="button" class="btn btn-success btn-default navbar-btn btn-head" value="Submit HIT"
                   onclick="savedata(true)" /><!--"$('#submit_hit_model').modal('show');"/> --></ul>
	<ul class="nav navbar-nav navbar-right" style="margin-right:3px">    <form action="https://people.ee.ethz.ch/~arunv/div_rel_annotator/static/diversity/"><input type="submit" class="btn-head btn btn-default navbar-btn" id="reset" value='Reset' /></form>
        </ul>
	<ul class="nav navbar-nav navbar-right" style="margin-right:15px">
            <input type="button" class="btn-head btn btn-default navbar-btn" value='Undo'
                   onclick='undo()' /></ul>
	<ul class="nav navbar-nav navbar-right" style="margin-right:20px">
            <input type="button" class="btn-head btn btn-default navbar-btn" style="background-color:#00FFFF" value="Show Instructions"
                   onclick="$('#show_instructions').modal('show');" /></ul>
        <center><h3><b>Image Annotation Task: Diversity</b></h3></center>
    </div>
    </nav>
    <div><h4 style="display:inline">QUERY:</h4><h2 style="display:inline"><b>{%print " "+query%}</b></h2><div align="right"><h4 style="display:inline;color:#ff0000;margin-right:100px;" align="right">Press Shift to view enlarged Image</h4></div></div>
    <div class="jumbotron">
      	<div class="row" id="row">
         	<div class="col-md-12">
			<ul class="create_cluster">
			<table>
				<tr>
				<li class="cluster" id="liclus1" onclick="drop(event)" ondrop="drop(event)" style="overflow-y:auto;" ondragover="allowDrop(event)">Group1:<td><div class="clusterbox" id="cluster1" ></div></td></li>
				<li class="cluster" id="liclus2" onclick="drop(event)" ondrop="drop(event)" style="overflow-y:auto;" ondragover="allowDrop(event)">Group2:<td><div class="clusterbox" id="cluster2" ></div></td></li>
				<li><a href="#" class="spawn">+ Add another</a></li>
				</tr>
			</table>
			</ul>
        	 	
       		</div>
	</div>
    </div>
    <div class="row" style='margin-left:20px;margin-top:-320px' id="image_itself">
	<indent>
	<table align="center" style="border-collapse:separate;border-spacing:1em;">
	{% block loop_item %}
	{% for file_path in files %}
	{% if loop.index0%7==0%}
		<tr>
	{% endif%}
	<td >
	<a >  <!--href={{url_for('static', filename = file_path ) }}--> 
        <div class="enlarge" id="{{ file_path.replace(" ","_")}}" ><img style="border:3px solid white;box-shadow: 5px 5px 2px #888888" src="{{'https://s3.amazonaws.com/thumbnail-annotation/AMT_VideoFrames/'+file_path }}" alt="" id="{{ 'drag_'+ file_path.replace(" ","_")}}" draggable="true" ondragstart="drag(event);" class="selectOption">
	</div><span id="overwrite"></span></a>
	</td>
	{% if loop.index0%7==6%}
	</tr>
	{% endif%}
	{% endfor%}
	{% endblock %}
	</indent>
    </div>
<div id="quali_info" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Feedback</h3>
            </div>
            <div class="modal-body">
                <p id='quali_text'></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id='finish_quali' data-dismiss="modal">OK</button>
            </div>

        </div>
    </div>
</div>

<div id="submit_hit_model" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Submit HIT</h3>
            </div>
            <form id='submit_hit_form' role='form' method="post" action=""> 
                <div class="modal-body">
                    <p><label>Username:</label> <input type="text" name="username" required></p>
        	    <p><label>Message:</label> <textarea name="message"></textarea></p>

                </div>
                <div class="modal-footer">
                     <span id="submit_result"></span>
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>

      </div>
</div>
<div id="show_instructions" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h3 class="modal-title">Instructions</h3></center>
            </div>
                <div class="modal-body">
                   <center><ul style="text-align:left">This assignment consists of two related tasks. First, you will complete the relevance task, where you will assess the relevance of all the images to a text query (a phrase). In the second task, the diversity task, in which you will group frames of a video by visual similarity. This task is called the diversity task because the number of groups created will reflect the diversity of the visual content within the video.
				
				<li> The two tasks are to be performed one after the other.</li>
				<li> First, The <b>Relevance task</b></li>
					<ul>
					<li> You are given frames from a video in sequential order.</li>
					<li> Your task is to assess how relevant the given frames are to a text query.</li>
						<ul>
						<li>If you don't understand the query, please skip this task or search the web to get more information about it.</li>
						</ul>
					<li> Annotate the given frames as Very Good, Good, Not Good or Trash.</li>
						<ul>
						<li>Please label the frames as Trash only when they are "bad", e.g. blurry, don't have any clear objects, are dark or that show cuts between video sequences</li>
						</ul>
					<li> After giving a label to all the frames, press the “Submit Relevance” button.</li>
					</ul>
				<li> Second, The <b>Diversity task</b></li>
					<ul>
					<li> You are shown the same frames as before.</li>
					<li> Your task is to assign frames of the video to several groups, according to their visual similarity.</li>
						<ul>
						<li>Place the visually similar frames into the same group.</li>
						<li>The groups need not consist of consecutive frames. Jumping around to select frames is fine too</li>
						</ul>
					<li> You can create as many groups as you like.</li>
					<li> After finishing this task, press the “Submit HIT” button.</li>
					
					</ul>
				<li>After completion the HIT will be completed.</li>
				</ul></center>
                </div>
                <div class="modal-footer">
                </div>
        </div>

      </div>
</div>
<div style='visibility: hidden'>
<form action="https://www.mturk.com/mturk/externalSubmit" style='visibility: hidden;' method="POST" id="amt_submit" style='position:absolute; top:710px; left:400px'>
    Assignment ID: <input id="assignmentId" value="{{session['assignment_id']}}" name="assignmentId"/>
    <br/>
    Worker ID: <input id="workerId" value="{{session['worker_id']}}" name="workerId"/>
    <br/>
    HIT ID: <input id="hitId" value="{{session['hit_id']}}" name="hitId"/>
</form>
</div>

{% endblock %}
