{% extends "layout.html" %}

{% block content %}
    <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-collapse collapse">
	<ul class="nav navbar-nav navbar-left">
            <!--<img alt="LOGO" src="...">-->
	{% if session['assignment_id']!="ASSIGNMENT_ID_NOT_AVAILABL":%}
            <input type="button" class="btn btn-success btn-default navbar-btn btn-head" value="Submit HIT"
                   onclick="saveaudio(true)" /><!--"$('#submit_hit_model').modal('show');"/> -->
	<input id="save_audio" type="button" class="btn btn-success btn-default navbar-btn btn-head" value="Save Audio"
                   onclick="saveaudio1(true)" />
	{% else %}
		<br/>Please <b>Accept HIT</b> before annotating!
	{% endif%}
            </ul>
	<ul class="nav navbar-nav navbar-right" style="margin-right:20px"> Video ID:
            <input type="button" class="btn-head btn btn-default navbar-btn" style="background-color:#00FFFF;" value="Show Instructions"
                   onclick="$('#watch_video').modal('show');" /></ul>
        <center><h3><b>Speech Recording Task</b></h3></center>
    </div>
    </nav>
<!--
    <div id="header"> 
        <button onclick="startRecording();">Start recording</button><br/><br/>
        <button onclick="stopRecording();">Stop recording</button><br/><br/><br/><br/>
    </div>
        <!--//HEADER--> 
 
    <!--SCRIPTS--><!--
    <script src="https://people.ee.ethz.ch/~arunv/speech_recorder/static/Recorderjs/recorder.js"></script>   
    <script src="https://people.ee.ethz.ch/~arunv/speech_recorder/static/jsHtml5AudioRecorder.js"></script>               
    <script src="https://people.ee.ethz.ch/~arunv/speech_recorder/static/init.js"></script>
-->

<div class="container-fluid">
    <div class="col-sm-11">
      <div class="form-horizontal" style="height:100px">
        <div class="form-group">
          <label class="col-sm-3 control-label">Audio input</label>
          <div class="col-sm-3">
            <select id="audio-in-select" class="form-control"></select>
          </div>
          <div class="col-sm-2">
            <input id="audio-in-level" type="range" min="0" max="100" value="50"> 
          </div>
	  <div class="col-sm-1" id="mic_thresh1">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3"></div>
          <div class="col-sm-3">
            <input id="echo-cancellation" type="hidden" checked> <!--Enable echo cancellation-->
          </div>
          <div class="col-sm-6 text-warning">Interface works good in Chrome and Firefox.</div>
        </div>
        <div class="form-group hidden">
          <label class="col-sm-3 control-label">Test tone</label>
          <div class="col-sm-3"></div>
          <div class="col-sm-3">
            <input id="test-tone-level" type="range" min="0" max="100" value="0">
          </div>
        </div><br>
        <div class="form-group hidden">
          <label class="col-sm-3 control-label">Recording time limit</label>
          <div class="col-sm-3">
            <input id="time-limit" type="range" min="1" max="10" value="3">
          </div>
          <div id="time-limit-text" class="col-sm-6">3 minutes</div>
        </div><br>
        <div class="form-group hidden">
          <label class="col-sm-3 control-label">Encoding</label>
          <div class="col-sm-3">
            <input type="radio" name="encoding" encoding="wav"> .wav &nbsp; 
            <input type="radio" name="encoding" encoding="ogg"> .ogg &nbsp; 
            <input type="radio" name="encoding" encoding="mp3" checked> .mp3
          </div>
          <label id="encoding-option-label" class="col-sm-2 control-label"></label>
          <div class="col-sm-2">
            <input id="encoding-option" type="range" min="0" max="11" value="6" class="hidden">
          </div>
          <div id="encoding-option-text" class="col-sm-2"></div>
        </div><br>
        <div class="form-group hidden">
          <label class="col-sm-3 control-label">Encoding process</label>
          <div class="col-sm-9">
            <input type="radio" name="encoding-process" mode="background"> Encode on recording background
          </div>
        </div>
        <div class="form-group hidden">
          <div class="col-sm-3"></div>
          <div class="col-sm-3">
            <input type="radio" name="encoding-process" mode="separate" checked> Encode after recording (safer)
          </div>
          <label id="report-interval-label" class="col-sm-2 control-label hidden">Reports every</label>
          <div class="col-sm-2">
            <input id="report-interval" type="range" min="1" max="5" value="0" class="hidden">
          </div>
          <div id="report-interval-text" class="col-sm-2 hidden">1 second</div>
        </div><br>
        <div class="form-group hidden">
          <label class="col-sm-3 control-label">Recording buffer size</label>
          <div class="col-sm-2">
            <input id="buffer-size" type="range" min="0" max="6">
          </div>
          <div id="buffer-size-text" class="col-sm-7"></div>
        </div>
        <div class="form-group hidden">
          <div class="col-sm-3"></div>
          <div class="col-sm-9 text-warning"><strong>Notice: </strong> recording becomes unstable if buffer size is below browser default.</div>
        </div><br>
       <!-- <div class="form-group">
          <div class="col-sm-3 control-label"><span id="recording" class="text-danger hidden"><strong>RECORDING</strong></span>&nbsp; <span id="time-display">00:00</span></div>
          <div class="col-sm-3">
            <button id="record" class="btn btn-danger">RECORD</button>
            <button id="cancel" class="btn btn-default hidden">CANCEL</button> 
          </div>
          <div class="col-sm-6"><span id="date-time" class="text-info"></span></div>
        </div> -->
      </div></div>
 <div class="col-sm-1" align="left" id="mic_thresh"><div>Audio Level</div>
 </div>

</div>
      <hr>
      <h3 align="center">Recordings</h3>
	<div class="col-md-1"></div>
	<div class="col-md-11">
	<table>
	{% block loop_item %}
	{% for desct in session['descriptions'] %}
	<tr><td style="width:600px;height:120px">
	<blockquote style="border: 5px solid #D3D3D3; padding: 0px;height:100px;">
	{% if loop.index0==0%}
	<p id="{{ 'descriptions_' ~ loop.index0}}" class="lead" align="center" style="margin-top:10px;">{%print " "+session['descriptions'][loop.index0]%}</p>
	{% else %}
	<p id="{{ 'descriptions_' ~ loop.index0}}" class="lead" align="center" style="margin-top:10px;">{%print " "+session['descriptions'][loop.index0]%}</p>
	{% endif %}
	</blockquote></td>
	<td style="height:100px;width:100px;"><font size="2"><div id="{{ 'micthresh-list_' ~ loop.index0}}" align="center" style="margin-top:0px;margin-left:30px;"></div></font></td>
	<td style="height:100px;width:150px;" align="center">
	<span id="{{ 'recording_' ~ loop.index0}}" class="text-danger hidden"></span>&nbsp; <span id="{{ 'time-display_' ~ loop.index0}}">00:00</span><br>
		<button id="{{ 'record_' ~ loop.index0}}" class="btn btn-danger">RECORD</button>
            <!--<button id="{{ 'cancel_' ~ loop.index0}}" class="btn btn-default hidden">CANCEL</button> --></td>
	<td style="height:100px;width:270px;" align="left">
	<div id="{{ 'recording-list_' ~ loop.index0}}"></div></td>
	<td style="height:100px;">
	<div id="{{ 'waveform-list_' ~ loop.index0}}" align="center" style="margin-top:-30px;margin-left:30px;"></div></td>
	
	</tr>
	{% endfor%}
	{% endblock %}
	<!--<p id="descriptions_10" class="lead hidden" align="center" style="margin-top:10px;">SUBMIT HIT now </p>-->
	    </table></div>
	<!--<div class="col-md-1">
      	<div id="recording-list"></div></div> -->
    </div>
    <div id="modal-loading" class="modal fade">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"></h4>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-progress" class="modal fade">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">
            <div class="progress">
              <div style="width: 0%;" class="progress-bar"></div>
            </div>
            <div class="text-center">0%</div>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-error" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" class="close">&times;</button>
            <h4 class="modal-title">Error</h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-warning"></div>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://people.ee.ethz.ch/~arunv/speech_recorder/static/WebAudioRecorder.min.js" type="text/javascript"></script>
    <script src="https://people.ee.ethz.ch/~arunv/speech_recorder/static/RecorderDemo.js" type="text/javascript"></script>


    <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.3.7/wavesurfer.min.js"></script>
    <script src="https://people.ee.ethz.ch/~arunv/speech_recorder/static/p5/p5.js"></script>
    <script src="https://people.ee.ethz.ch/~arunv/speech_recorder/static/p5/addons/p5.dom.js"></script>
    <script src="https://people.ee.ethz.ch/~arunv/speech_recorder/static/p5/p5.sound.min.js"></script>
    <script src="https://people.ee.ethz.ch/~arunv/speech_recorder/static/mic_thresh.js" type="text/javascript"></script>


<div id="watch_video" class="modal fade" role="dialog">
      <div class="modal-dialog modal-xl">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h3 class="modal-title">Read the Instructions</h3></center>
            </div>
                <div class="modal-body">
                   <center>
			<div class="Instructions" style="width:700px"><h3 align = "center">Instructions </h3>
				
				<ul>
				<li> The <b>Tasks</b> </li>
					<ul>
					<li>Choose the microphone from the list and adjust the volume level. Check by recording one of given text descriptions. </li>
					<li>Record the descriptions one by one as you are talking to a <b>companion robot</b>. </li> 
					<li>Also, inspect the audio waveform visually. </li> 
					</ul>
				<li> The <b>DO's</b></li>
					<ul>
					<li> Use RE-RECORD button to rerecord the corrupted speech annotations</li>					
					<li> Ensure that the recorded speech surpasses the volume level mark</li>					
					<li> Submit HIT after recording all the sentences</li>
					</ul>
				<li> The <b>Dont's</b></li>
					<ul>
					<li> Do not submit HIT unless all the warnings (in red) are addressed</li>
					</ul>
				</ul>
    			</div>
                </div>
                <div class="modal-footer">
                </div>
        </div>

      </div>
</div>
<div id="view_categories" class="modal fade" role="dialog">
      <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h3 class="modal-title">Categories</h3></center>
            </div>
                <div class="modal-body">
                   <center>
			<div class="Categories" style="width:150px">
				<ul ><li>Person</li><li> Rider</li><li> Car</li><li>Truck</li><li>Bus</li><li>Motorcycle</li><li>Bicycle</li><li>Caravan</li><li>Road</li><li>Sidewalk</li><li>Parking</li><li>Rail Track</li><li>Building</li><li>Wall</li><li>Fence</li><li>Guard Rail</li><li>Bridge</li><li>Tunnel</li><li>Pole</li><li>Pole Group</li><li>Traffic Sign</li><li>Traffic light</li><li>Vegetation</li><li>Terrain</li></ul>
    			</div>
		</center>
                </div>
                <div class="modal-footer"><center><b>Choose one above or write any other</b></center>
                </div>
        </div>

      </div>
</div>
<div id="see_example" class="modal fade" role="dialog">
      <div class="modal-dialog modal-el">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h3 class="modal-title">Example</h3></center>
            </div>
                <div class="modal-body">
                   <center>
			<img src="https://people.ee.ethz.ch/~arunv/local_obj_desc_annotator/static/instructionImg.PNG"/>
<img src="https://people.ee.ethz.ch/~arunv/local_obj_desc_annotator/static/instructionImg1.PNG"/>
		</center>
                </div>
		<div class="modal-footer">
                Kindly ensure that Colored Boxes fit the objects in the same way
            </div>
        </div>

      </div>
</div>
<a href="https://people.ee.ethz.ch/~arunv/speech_recorder/" id="redirect" style="visibility:hidden">Redirecting...</a>
  <div id="quali_info" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Feedback</h3>
            </div>
            <div class="modal-body">
                <p id='quali_text'></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id='finish_quali' data-dismiss="modal">OK</button>
            </div>

        </div>
    </div>
</div>
<div style='visibility: hidden'>
<form action="https://www.mturk.com/mturk/externalSubmit" style='visibility: hidden;' method="POST" id="amt_submit" style='position:absolute; top:710px; left:400px'>
    Assignment ID: <input id="assignmentId" value="{{session['assignment_id']}}" name="assignmentId"/>
    <br/>
    Worker ID: <input id="workerId" value="{{session['worker_id']}}" name="workerId"/>
    <br/>
    HIT ID: <input id="hitId" value="{{session['hit_id']}}" name="hitId"/>
</form>
</div>

{% endblock %}
