<!doctype html>
<html lang="en">
    <head>
        <title>Description Task</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="shortcut icon" href={{ url_for('static', filename='favicon.ico') }}>
	<link href="https://people.ee.ethz.ch/~gyglim/mot_annotator/css/style.css" type="text/css" rel="stylesheet"/>
	<link href="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/css/bootstrap-theme.min.css" rel="stylesheet"> 
	<link href="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/slide.css" rel="stylesheet" type="text/css">
	<link href="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/select_drag.css" rel="stylesheet" type="text/css">
	<link href="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/carousel.css" rel="stylesheet" type="text/css">
	<link href="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/drag_drop.css" rel="stylesheet" type="text/css">
	<link href="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/css/bootstrap-select.css" rel="stylesheet">
	<link href="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/css/bootstrap-combobox.css" rel="stylesheet">
	<link href="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/css/bootstrap.css" rel="stylesheet">
<link href="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/jcrop_css/jquery.Jcrop.css" rel="stylesheet">
<link href="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/jcrop_css/jquery.Jcrop.min.css" rel="stylesheet">
	<link href="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
	<link rel="stylesheet" href="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/css/bootstrap.min.css">
	<script src="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/slide.js" type="text/javascript"></script>
	<script src="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/drag_drop.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/carousel.js" type="text/javascript"></script>
	<script src="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/submit_validation.js" type="text/javascript"></script>
	<script src="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/dataStore.js" type="text/javascript"></script>
	<!--<script src="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/dropdown.js" type="text/javascript"></script> -->
	<script src="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/bootstrap-select.js" type="text/javascript"></script>
	<script src="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/bootstrap-combobox.js" type="text/javascript"></script>
	<script src="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/bootstrap-select.min.js" type="text/javascript"></script>
	<script src="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/jcrop_js/jquery.Jcrop.min.js" type="text/javascript"></script>
	<script src="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/jcrop_js/jquery.Jcrop.js" type="text/javascript"></script>
	<script src="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/jcrop_js/jquery.color.js" type="text/javascript"></script>
	<script src="https://people.ee.ethz.ch/~gyglim/mot_annotator/static/bootstrap.min.js" type="text/javascript"></script>
	<style>
	html { overflow-x: hidden; }
	</style>
<script>
var box_X = new Array();
var box_Y = new Array();
var box_W = new Array();
var box_H = new Array();
var box_color = new Array();
var box_desc = [];
var box_attr_obj=[];var box_attr_color=[];var box_attr_numinst=[]; var box_attr_action=[];var box_attr_shape=[];
var box_us_dist=[];var box_us_road=[];var box_us_direc=[];var box_us_rot=[];var box_us_pos=[]; var box_us_speed=[]; var box_us_desc=[];
var box_oth_dist=[];var box_oth_road=[];var box_oth_direc=[];var box_oth_rot=[];var box_oth_pos=[]; var box_oth_speed=[]; var box_oth_desc=[];
var endpoint = "https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/"
var rowno=1;
var currentrow=0;
var contxt=""
var bboxvalues=[]
var bboxcolors=[]
var currentbboxvalue=[]
var current_position="";
var current_count=1;
var current_relspat0=[];var current_relspat1=[];var current_relspat2=[];var current_relspat3=[];var current_relspat4=[];var current_relspat5=[];
colornow=""
$(function(){
	$('#myCanvas').Jcrop({
		onChange: showC,
		onSelect: drawrectangle,
		onRelease: addrow
	});
});
function showC(c)
{
	$('#x').val(c.x);
	$('#y').val(c.y);
	$('#x2').val(c.x2);
	$('#y2').val(c.y2);
	$('#w').val(c.w);
	$('#h').val(c.h);

};

function drawrectangle(c) {
  var c1=document.getElementById("myCanvas");
  var ctx=c1.getContext("2d");
  if(contxt==""){
  	var img=document.getElementById("prev_crop");  
  	ctx.drawImage(img,0,0,800,500); 
  }
  else{
	var img=document.getElementById("prev_crop");  
	ctx.drawImage(img,0,0,800,500);
	ctx.beginPath();
  	//ctx.drawImage(contxt,0,0,800,500)
	for (iter in bboxvalues){
		if (bboxvalues.hasOwnProperty(iter)) {
			var temp = bboxvalues[iter]["value"]
			ctx.beginPath();
    			ctx.rect(temp[0],temp[1],temp[2],temp[3]);
			ctx.fillStyle = 'transparent';
  			ctx.fill();
  			ctx.lineWidth = 5;
  			ctx.strokeStyle = bboxcolors[iter]["value"];
  			ctx.stroke();	
		}
    	}
  }
  var canvas = document.getElementById('myCanvas');
  var context = canvas.getContext('2d');
  context.beginPath();
  context.rect(c.x, c.y, c.w, c.h);
  currentbboxvalue = [c.x, c.y, c.w, c.h]
  context.fillStyle = 'transparent';
  context.fill();
  context.lineWidth = 5;
  colornow=getRandomColor();
  context.strokeStyle = colornow;
  context.stroke();
};

function addrow() {
	contxt="hai"
	//var c1=document.getElementById("myCanvas");
	//c1.setAttribute('crossOrigin', 'anonymous');
	//contxt=document.getElementById("prev_crop");
	//contxt.setAttribute('crossOrigin', 'anonymous');
	//contxt.src=c1.toDataURL()
	var table = document.getElementById("track");
	var row = document.getElementById("trow0"); // find row to copy
      	var clone = row.cloneNode(true); // copy children too
      	clone.id = "trow".concat(rowno.toString()); // change id or other attributes/contents
	clone.style.visibility = "initial";
	clone.height = "100%";
	for (var j = 0, col; col = clone.cells[j]; j++) {
		switch(j){
			case 0:
				col.textContent = "Box".concat(rowno.toString());break;
			case 1:
				col.innerHTML = "<button type='button' class='btn btn-primary btn-sm' style='width:80%;background-color:"+colornow+"'>"+colornow+"</button>";break;
			case 2:
				col.textContent = "";break;
			case 3:
				col.innerHTML = "<input type='radio' name='select' onmousedown='refresh();' onchange='if(this.checked){currentrow=this.value;doDesc();}' value="+rowno+" checked>";currentrow=rowno;break;
			case 4:
				col.innerHTML = "<input type='button' id='delid_"+currentrow.toString()+"' class='btn btn-danger btn-sm' onclick='deleterow(this.id);' value='Remove'>";break;
		}
		//console.log(col)	
	}
	bboxvalues.push({key:currentrow, value:currentbboxvalue});
	bboxcolors.push({key:currentrow, value:colornow});
	box_X.push({key:currentrow, value:currentbboxvalue[0]});box_Y.push({key:currentrow, value:currentbboxvalue[1]});box_W.push({key:currentrow, value:currentbboxvalue[2]});box_H.push({key:currentrow, value:currentbboxvalue[3]});box_color.push({key:currentrow, value:colornow});
	rowno=rowno+1;
      	table.appendChild(clone);
	current_relspat0[currentrow]=0;current_relspat1[currentrow]=0;current_relspat2[currentrow]=0;current_relspat3[currentrow]=0;current_relspat4[currentrow]=0;current_relspat5[currentrow]=0;
	//console.log(current_relspat0)
	$('#refresh').load(document.URL +  ' #refresh');
};
function deleterow(del_id) {
	var delrow= parseInt(del_id.split("_")[1]);
	for (iter in current_relspat0){
		current_relspat0.splice(iter,1);current_relspat1.splice(iter,1);current_relspat2.splice(iter,1);current_relspat3.splice(iter,1);current_relspat4.splice(iter,1);current_relspat5.splice(iter,1);
	}
	for (iter in bboxvalues){
		if(bboxvalues[iter]["key"] == delrow){bboxvalues.splice(iter,1);}
		if(bboxcolors[iter]["key"] == delrow){bboxcolors.splice(iter,1);}
		if(box_X[iter]["key"] == delrow){box_X.splice(iter,1);}
		if(box_Y[iter]["key"] == delrow){box_Y.splice(iter,1);}
		if(box_W[iter]["key"] == delrow){box_W.splice(iter,1);}
		if(box_H[iter]["key"] == delrow){box_H.splice(iter,1);}
		if(box_color[iter]["key"] == delrow){box_color.splice(iter,1);}
		//if(box_desc.hasOwnProperty(iter)){if(box_desc[iter]["key"] == delrow){box_desc.splice(iter,1);}}
    	}
	for (iter in box_desc){
		if(box_desc.hasOwnProperty(iter)){if(box_desc[iter]["key"] == delrow){box_desc.splice(iter,1);}}
		if(box_attr_obj.hasOwnProperty(iter)){if(box_attr_obj[iter]["key"] == delrow){box_attr_obj.splice(iter,1);}}
		if(box_attr_color.hasOwnProperty(iter)){if(box_attr_color[iter]["key"] == delrow){box_attr_color.splice(iter,1);}}
		if(box_attr_numinst.hasOwnProperty(iter)){if(box_attr_numinst[iter]["key"] == delrow){box_attr_numinst.splice(iter,1);}}
		if(box_attr_action.hasOwnProperty(iter)){if(box_attr_action[iter]["key"] == delrow){box_attr_action.splice(iter,1);}}
		if(box_attr_shape.hasOwnProperty(iter)){if(box_attr_shape[iter]["key"] == delrow){box_attr_shape.splice(iter,1);}}
		if(box_us_dist.hasOwnProperty(iter)){if(box_us_dist[iter]["key"] == delrow){box_us_dist.splice(iter,1);}}
		if(box_us_road.hasOwnProperty(iter)){if(box_us_road[iter]["key"] == delrow){box_us_road.splice(iter,1);}}
		if(box_us_direc.hasOwnProperty(iter)){if(box_us_direc[iter]["key"] == delrow){box_us_direc.splice(iter,1);}}
		if(box_us_rot.hasOwnProperty(iter)){if(box_us_rot[iter]["key"] == delrow){box_us_rot.splice(iter,1);}}
		if(box_us_speed.hasOwnProperty(iter)){if(box_us_speed[iter]["key"] == delrow){box_us_speed.splice(iter,1);}}
		if(box_us_desc.hasOwnProperty(iter)){if(box_us_desc[iter]["key"] == delrow){box_us_desc.splice(iter,1);}}
		if(box_oth_dist.hasOwnProperty(iter)){if(box_oth_dist[iter]["key"] == delrow){box_oth_dist.splice(iter,1);}}
		if(box_oth_road.hasOwnProperty(iter)){if(box_oth_road[iter]["key"] == delrow){box_oth_road.splice(iter,1);}}
		if(box_oth_direc.hasOwnProperty(iter)){if(box_oth_direc[iter]["key"] == delrow){box_oth_direc.splice(iter,1);}}
		if(box_oth_rot.hasOwnProperty(iter)){if(box_oth_rot[iter]["key"] == delrow){box_oth_rot.splice(iter,1);}}
		if(box_oth_speed.hasOwnProperty(iter)){if(box_oth_speed[iter]["key"] == delrow){box_oth_speed.splice(iter,1);}}
		if(box_oth_desc.hasOwnProperty(iter)){if(box_oth_desc[iter]["key"] == delrow){box_oth_desc.splice(iter,1);}}

    	}
	var row_tobedel = document.getElementById("trow".concat(delrow.toString()));
    	row_tobedel.parentNode.removeChild(row_tobedel);	
}	
function refresh(){
	$('#refresh').load(document.URL +  ' #refresh');
	return false;
}
function doDesc() {
    var table = document.getElementById("track");
    var row = document.getElementById("trow".concat((currentrow).toString()));
    x = row.cells[2].textContent;
    document.getElementById("objdesc").value = x;
    for (iter in box_attr_obj){
	if(box_attr_obj.hasOwnProperty(iter)){if(box_attr_obj[iter]["key"] == currentrow.toString()){document.getElementById("objectname").value = box_attr_obj[iter]["value"];}}
	if(box_attr_color.hasOwnProperty(iter)){if(box_attr_color[iter]["key"] == currentrow.toString()){document.getElementById("colorbox").value = box_attr_color[iter]["value"];}}
	if(box_attr_numinst.hasOwnProperty(iter)){if(box_attr_numinst[iter]["key"] == currentrow.toString()){$('select[name=numInst]').val(box_attr_numinst[iter]["value"]);$('.selectpicker').selectpicker('refresh');}}
	if(box_attr_action.hasOwnProperty(iter)){if(box_attr_action[iter]["key"] == currentrow.toString()){document.getElementById("actionbox").value = box_attr_action[iter]["value"];}}
	if(box_attr_shape.hasOwnProperty(iter)){if(box_attr_shape[iter]["key"] == currentrow.toString()){document.getElementById("datebox").value = box_attr_shape[iter]["value"];}}
	if(box_us_dist.hasOwnProperty(iter)){if(box_us_dist[iter]["key"] == currentrow.toString()){$("input[name=optradio0][value="+box_us_dist[iter]["value"]+"]").prop('checked', true)}}
	if(box_us_road.hasOwnProperty(iter)){if(box_us_road[iter]["key"] == currentrow.toString()){$("input[name=optradio1][value="+box_us_road[iter]["value"]+"]").prop('checked', true)}}
	if(box_us_direc.hasOwnProperty(iter)){if(box_us_direc[iter]["key"] == currentrow.toString()){$("input[name=optradio2][value="+box_us_direc[iter]["value"]+"]").prop('checked', true)}}
	if(box_us_rot.hasOwnProperty(iter)){if(box_us_rot[iter]["key"] == currentrow.toString()){$("input[name=optradio3][value="+box_us_rot[iter]["value"]+"]").prop('checked', true)}}
	if(box_us_speed.hasOwnProperty(iter)){if(box_us_speed[iter]["key"] == currentrow.toString()){$("input[name=optradio4][value="+box_us_speed[iter]["value"]+"]").prop('checked', true)}}
	if(box_us_desc.hasOwnProperty(iter)){if(box_us_desc[iter]["key"] == currentrow.toString()){document.getElementById("pre-relcelltext").value = box_us_desc[iter]["value"];}}
	if(box_oth_dist.hasOwnProperty(iter)){if(box_oth_dist[iter]["key"] == currentrow.toString()){var a=box_oth_dist[iter]["value"];for(i=0;i<a.length;i++){var lockey=a[i]['key'];if(lockey != undefined){if(i>0){addRelationSelect_sub('spat0','pre-relspat0',i);}$("input[name=othradio0_text"+i.toString()+"][value="+lockey.toString()+"]").prop('checked', true);document.getElementById("pre-relspat0_text"+i).value = a[i]['value'];}}}}
	if(box_oth_road.hasOwnProperty(iter)){if(box_oth_road[iter]["key"] == currentrow.toString()){var a=box_oth_road[iter]["value"];for(i=0;i<a.length;i++){var lockey=a[i]['key'];if(lockey != undefined){if(i>0){addRelationSelect_sub('spat1','pre-relspat1',i);}$("input[name=othradio1_text"+i.toString()+"][value="+lockey.toString()+"]").prop('checked', true);document.getElementById("pre-relspat1_text"+i).value = a[i]['value'];}}}}
	if(box_oth_direc.hasOwnProperty(iter)){if(box_oth_direc[iter]["key"] == currentrow.toString()){var a=box_oth_direc[iter]["value"];for(i=0;i<a.length;i++){var lockey=a[i]['key'];if(lockey != undefined){if(i>0){addRelationSelect_sub('spat2','pre-relspat2',i);}$("input[name=othradio2_text"+i.toString()+"][value="+lockey.toString()+"]").prop('checked', true);document.getElementById("pre-relspat2_text"+i).value = a[i]['value'];}}}}
	if(box_oth_rot.hasOwnProperty(iter)){if(box_oth_rot[iter]["key"] == currentrow.toString()){var a=box_oth_rot[iter]["value"];for(i=0;i<a.length;i++){var lockey=a[i]['key'];if(lockey != undefined){if(i>0){addRelationSelect_sub('spat3','pre-relspat3',i);}$("input[name=othradio3_text"+i.toString()+"][value="+lockey.toString()+"]").prop('checked', true);document.getElementById("pre-relspat3_text"+i).value = a[i]['value'];}}}}
	if(box_oth_speed.hasOwnProperty(iter)){if(box_oth_speed[iter]["key"] == currentrow.toString()){var a=box_oth_speed[iter]["value"];for(i=0;i<a.length;i++){var lockey=a[i]['key'];if(lockey != undefined){if(i>0){addRelationSelect_sub('spat4','pre-relspat4',i);}$("input[name=othradio4_text"+i.toString()+"][value="+lockey.toString()+"]").prop('checked', true);document.getElementById("pre-relspat4_text"+i).value = a[i]['value'];}}}}
	if(box_oth_desc.hasOwnProperty(iter)){if(box_oth_desc[iter]["key"] == currentrow.toString()){var a=box_oth_desc[iter]["value"];for(i=0;i<a.length;i++){if(i>0){addRelationSelect_sub('spat5','pre-relspat5',i);}document.getElementById("pre-relspat5_text"+i).value = a[i]['value'];}}}
    }
    return false;
}
function doSomething() {
    var x = document.getElementById("objdesc").value;
    var table = document.getElementById("track");
    var row = document.getElementById("trow".concat((currentrow).toString()));
    row.cells[2].textContent = x;
    for (iter in box_desc){
	if(box_desc.hasOwnProperty(iter)){if(box_desc[iter]["key"] == currentrow){box_desc.splice(iter,1);}}
	if(box_attr_obj.hasOwnProperty(iter)){if(box_attr_obj[iter]["key"] == currentrow){box_attr_obj.splice(iter,1);}}
	if(box_attr_color.hasOwnProperty(iter)){if(box_attr_color[iter]["key"] == currentrow){box_attr_color.splice(iter,1);}}
	if(box_attr_numinst.hasOwnProperty(iter)){if(box_attr_numinst[iter]["key"] == currentrow){box_attr_numinst.splice(iter,1);}}
	if(box_attr_action.hasOwnProperty(iter)){if(box_attr_action[iter]["key"] == currentrow){box_attr_action.splice(iter,1);}}
	if(box_attr_shape.hasOwnProperty(iter)){if(box_attr_shape[iter]["key"] == currentrow){box_attr_shape.splice(iter,1);}}
	if(box_us_dist.hasOwnProperty(iter)){if(box_us_dist[iter]["key"] == currentrow){box_us_dist.splice(iter,1);}}
	if(box_us_road.hasOwnProperty(iter)){if(box_us_road[iter]["key"] == currentrow){box_us_road.splice(iter,1);}}
	if(box_us_direc.hasOwnProperty(iter)){if(box_us_direc[iter]["key"] == currentrow){box_us_direc.splice(iter,1);}}
	if(box_us_rot.hasOwnProperty(iter)){if(box_us_rot[iter]["key"] == currentrow){box_us_rot.splice(iter,1);}}
	if(box_us_speed.hasOwnProperty(iter)){if(box_us_speed[iter]["key"] == currentrow){box_us_speed.splice(iter,1);}}
	if(box_us_desc.hasOwnProperty(iter)){if(box_us_desc[iter]["key"] == currentrow){box_us_desc.splice(iter,1);}}
	if(box_oth_dist.hasOwnProperty(iter)){if(box_oth_dist[iter]["key"] == currentrow){box_oth_dist.splice(iter,1);}}
	if(box_oth_road.hasOwnProperty(iter)){if(box_oth_road[iter]["key"] == currentrow){box_oth_road.splice(iter,1);}}
	if(box_oth_direc.hasOwnProperty(iter)){if(box_oth_direc[iter]["key"] == currentrow){box_oth_direc.splice(iter,1);}}
	if(box_oth_rot.hasOwnProperty(iter)){if(box_oth_rot[iter]["key"] == currentrow){box_oth_rot.splice(iter,1);}}
	if(box_oth_speed.hasOwnProperty(iter)){if(box_oth_speed[iter]["key"] == currentrow){box_oth_speed.splice(iter,1);}}
	if(box_oth_desc.hasOwnProperty(iter)){if(box_oth_desc[iter]["key"] == currentrow){box_oth_desc.splice(iter,1);}}
    }
    box_desc.push({key:currentrow, value:x});
    x = document.getElementById("objectname").value;box_attr_obj.push({key:currentrow, value:x});
    x = document.getElementById("colorbox").value;box_attr_color.push({key:currentrow, value:x});
    x = document.getElementById("numInst").value;box_attr_numinst.push({key:currentrow, value:x});
    x = document.getElementById("actionbox").value;box_attr_action.push({key:currentrow, value:x});
    x = document.getElementById("datebox").value;box_attr_shape.push({key:currentrow, value:x});
    x = $('input[name="optradio0"]:checked').val();box_us_dist.push({key:currentrow, value:x});
    x = $('input[name="optradio1"]:checked').val();box_us_road.push({key:currentrow, value:x});
    x = $('input[name="optradio2"]:checked').val();box_us_direc.push({key:currentrow, value:x});
    x = $('input[name="optradio3"]:checked').val();box_us_rot.push({key:currentrow, value:x});
    x = $('input[name="optradio4"]:checked').val();box_us_speed.push({key:currentrow, value:x});
    x = document.getElementById("pre-relcelltext").value;box_us_desc.push({key:currentrow, value:x});
    var t_y=new Array();var i=0;
    do {var name="othradio0_text"+i;x = $('input[name='+name+']:checked').val();var y=document.getElementById("pre-relspat0_text"+i.toString()).value;i=i+1;t_y.push({key:x, value:y});
    }while (document.getElementById("pre-relspat0_text"+i.toString()) !=null);box_oth_dist.push({key:currentrow, value:t_y});
    var t_y=new Array();var i=0;
    do {var name="othradio1_text"+i;x = $('input[name='+name+']:checked').val();var y=document.getElementById("pre-relspat1_text"+i.toString()).value;i=i+1;t_y.push({key:x, value:y});
    }while (document.getElementById("pre-relspat1_text"+i.toString()) !=null);box_oth_road.push({key:currentrow, value:t_y});
    var t_y=new Array();var i=0;
    do {var name="othradio2_text"+i;x = $('input[name='+name+']:checked').val();var y=document.getElementById("pre-relspat2_text"+i.toString()).value;i=i+1;t_y.push({key:x, value:y});
    }while (document.getElementById("pre-relspat2_text"+i.toString()) !=null);box_oth_direc.push({key:currentrow, value:t_y});
    var t_y=new Array();var i=0;
    do {var name="othradio3_text"+i;x = $('input[name='+name+']:checked').val();var y=document.getElementById("pre-relspat3_text"+i.toString()).value;i=i+1;t_y.push({key:x, value:y});
    }while (document.getElementById("pre-relspat3_text"+i.toString()) !=null);box_oth_rot.push({key:currentrow, value:t_y});
    var t_y=new Array();var i=0;
    do {var name="othradio4_text"+i;x = $('input[name='+name+']:checked').val();var y=document.getElementById("pre-relspat4_text"+i.toString()).value;i=i+1;t_y.push({key:x, value:y});
    }while (document.getElementById("pre-relspat4_text"+i.toString()) !=null);box_oth_speed.push({key:currentrow, value:t_y});
    var t_y=new Array();var i=0;
    do {var x = document.getElementById("pre-relspat5_text"+i.toString()).value;i=i+1;t_y.push({key:i,value:x});
    }while (document.getElementById("pre-relspat5_text"+i.toString()) !=null);box_oth_desc.push({key:currentrow, value:t_y});
    console.log(box_oth_desc)
    return false;
}
function getRandomColor() {
    var letters = '0123456789ABCDEF';
    var color = '#';
    for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}
$(function(){
    var $select = $(".1-100");
    for (i=1;i<=100;i++){
        $select.append($('<option></option>').val(i).html(i))
    }
});
$(document).ready(function(){
    $('.combobox').combobox();
  });
function getEventTarget(e) {
    e = e || window.event;
    return e.target || e.srcElement; 
}
window.onload = function () {
    document.getElementById('demlist').onclick = function(event) {
    var target = getEventTarget(event);
    var valu=target.innerHTML;
    $('#datebox').val(valu);
    document.getElementById("sensiz").innerText =valu;
    };
    document.getElementById('actionlist').onclick = function(event) {
    var target = getEventTarget(event);
    var valu=target.innerHTML;
    $('#actionbox').val(valu);
    document.getElementById("senact").innerText =valu;
    };
    document.getElementById('colorlist').onclick = function(event) {
    var target = getEventTarget(event);
    var valu=target.innerHTML;
    $('#colorbox').val(valu);
    document.getElementById("sencolor").innerText =valu;
    };
}
function position(valu){
	current_position = valu;
	if(valu!="near"&&valu!="far"){valu = "at "+valu;}
	document.getElementById("senpos").innerText =valu;
}
function countgroup(valu){
	current_count = valu;
	document.getElementById("sennum").innerText =valu;
}
function spatialrel(valu,tag){
	if(tag=="relcell"){spatialid = 'spatialrel';}if(tag=="relcomp"){spatialid = 'comprel';}if(tag=="relprep"){spatialid = 'preprel';}
	id=valu.id;
	id=parseInt(id.replace(tag+'text',''));
	var spatialadj = document.getElementById(tag+"select"+id.toString()).value;
	if(document.getElementById(spatialid+id.toString()) !== null&&valu.value!==null){document.getElementById(spatialid+id.toString()).innerText=spatialadj+" "+valu.value;}
	else{
	if(valu.value!==""){var newDiv=document.createElement('div');
	newDiv.className = "checkbox";
    	newDiv.innerHTML="<label><input type='checkbox' value=''> The object is <b><span id='"+spatialid+id.toString()+"'>"+spatialadj+" "+valu.value+"</span></b><br></label>";
	document.getElementById('sentenceform').appendChild(newDiv);}
	}
}

function addRelationSelect(divname,tag) {
    //var id=current_relspat0;//parseInt(id.replace(tag+'_text',''));
    if(tag=="pre-relspat0"){var cur_relcell = current_relspat0[currentrow];};if(tag=="pre-relspat1"){var cur_relcell = current_relspat1[currentrow];}if(tag=="pre-relspat2"){var cur_relcell = current_relspat2[currentrow];}if(tag=="pre-relspat3"){var cur_relcell = current_relspat3[currentrow];};if(tag=="pre-relspat4"){var cur_relcell = current_relspat4[currentrow];}if(tag=="pre-relspat5"){var cur_relcell = current_relspat5[currentrow];}
    //if(cur_relcell==id){
    var id=cur_relcell;
    if(tag=="pre-relspat0"){current_relspat0[currentrow] = id+1;};if(tag=="pre-relspat1"){current_relspat1[currentrow] = id+1;}if(tag=="pre-relspat2"){current_relspat2[currentrow] = id+1;}if(tag=="pre-relspat3"){current_relspat3[currentrow] = id+1;};if(tag=="pre-relspat4"){current_relspat4[currentrow] = id+1;}if(tag=="pre-relspat5"){current_relspat5[currentrow] = id+1;}
    cur_relcell = id+1;
    var newDiv=document.createElement('div');
    newDiv.id=tag+'_'+'cell'+cur_relcell.toString();
    var relcell0 = document.getElementById(tag+'_cell0')
    var html = "";
    var appendstr = relcell0.innerHTML.replace(/select0/g,'select'+cur_relcell.toString());//replace('relcellselect0','relcellselect'+current_relcell.toString())
    html += appendstr.replace(/text0/g,'text'+cur_relcell.toString());
    html += "";
    newDiv.innerHTML= html;
    document.getElementById(divname).appendChild(newDiv);
}
function addRelationSelect_sub(divname,tag,i) {
    //console.log(current_relspat0)
    if(tag=="pre-relspat0"){var cur_relcell = current_relspat0[currentrow];};if(tag=="pre-relspat1"){var cur_relcell = current_relspat1[currentrow];}if(tag=="pre-relspat2"){var cur_relcell = current_relspat2[currentrow];}if(tag=="pre-relspat3"){var cur_relcell = current_relspat3[currentrow];};if(tag=="pre-relspat4"){var cur_relcell = current_relspat4[currentrow];}if(tag=="pre-relspat5"){var cur_relcell = current_relspat5[currentrow];}
    var id=i;//cur_relcell;
    var newDiv=document.createElement('div');
    newDiv.id=tag+'_'+'cell'+id.toString();
    var relcell0 = document.getElementById(tag+'_cell0')
    var html = "";
    var appendstr = relcell0.innerHTML.replace(/select0/g,'select'+id.toString());//replace('relcellselect0','relcellselect'+current_relcell.toString())
    html += appendstr.replace(/text0/g,'text'+id.toString());
    html += "";
    newDiv.innerHTML= html;
    //console.log('hello'+cur_relcell);
    document.getElementById(divname).appendChild(newDiv);
}
function displaysent(valu){
    if(valu.id=="colorbox"){var col = document.getElementById("sencolor");}if(valu.id=="actionbox"){var col = document.getElementById("senrot");}
    if(valu.id=="datebox"){var col = document.getElementById("sensiz");}
    console.log('hai');
    var objcol = valu.value;
    col.innerHTML = "object is <b>"+objcol+"</b>";
}
function displayrot(valu){
    var col = document.getElementById("senrot");
    var othcol = document.getElementById("othsenrot");
    var objcol = valu;
    if(valu=="Standing"|| valu=="Parked"){var a=["facing towards"," facing towards left of","facing towards right of","facing backwards from"];}
    if(valu=="Moving"){var a=["towards","towards left from","towards right from","backwards from"];}
    if(valu=="Crossing"){var a=["from left towards right of","from right towards left of","other roads away from"];}
    if(valu=="Walking"){var a=["towards","from left towards right of","from right towards left of","backwards away from"];}
    var texthtml = "object is <b>"+objcol+"</b>&nbsp;&nbsp;&nbsp";
    var othtexthtml = "object is <b>"+objcol+"</b>&nbsp;&nbsp;&nbsp";
    for (var i = 0; i < a.length; i++ ) {
        texthtml+="<div class='radio' style='display:inline;'><label><input style='display:inline;' type='radio' name='optradio2'><b>"+a[i]+"</b></label></div>&nbsp;&nbsp;&nbsp;"
    }
    for (var i = 0; i < a.length; i++ ) {
        othtexthtml+="<div class='radio' style='display:inline;'><label><input style='display:inline;' type='radio' name='othradio2'><b>"+a[i]+"</b></label></div>&nbsp;&nbsp;&nbsp;"
    }
    othcol.innerHTML = othtexthtml;
    texthtml+=" us";
    col.innerHTML = texthtml;
}
</script>
	
    </head>

    <body>
        {% block content %}{% endblock %}
    </body>
</html>
