<!doctype html>
<html lang="en">
    <head>
        <title>Description Task</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="shortcut icon" href={{ url_for('static', filename='favicon.ico') }}>
	<link href="https://people.ee.ethz.ch/~gyglim/mot_annotator/css/style.css" type="text/css" rel="stylesheet"/>
	<link href="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/css/bootstrap-theme.min.css" rel="stylesheet"> 
	<link href="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/slide.css" rel="stylesheet" type="text/css">
	<link href="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/select_drag.css" rel="stylesheet" type="text/css">
	<link href="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/carousel.css" rel="stylesheet" type="text/css">
	<link href="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/drag_drop.css" rel="stylesheet" type="text/css">
	<link href="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/css/bootstrap-select.css" rel="stylesheet">
	<link href="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/css/bootstrap-combobox.css" rel="stylesheet">
	<link href="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/css/bootstrap.css" rel="stylesheet">
<link href="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/jcrop_css/jquery.Jcrop.css" rel="stylesheet">
<link href="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/jcrop_css/jquery.Jcrop.min.css" rel="stylesheet">
	<link href="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
	<link rel="stylesheet" href="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/css/bootstrap.min.css">
	<script src="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/slide.js" type="text/javascript"></script>
	<script src="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/drag_drop.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/carousel.js" type="text/javascript"></script>
	<script src="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/submit_validation.js" type="text/javascript"></script>
	<script src="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/dataStore.js" type="text/javascript"></script>
	<!--<script src="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/dropdown.js" type="text/javascript"></script> -->
	<script src="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/bootstrap-select.js" type="text/javascript"></script>
	<script src="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/bootstrap-combobox.js" type="text/javascript"></script>
	<script src="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/bootstrap-select.min.js" type="text/javascript"></script>
	<script src="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/jcrop_js/jquery.Jcrop.min.js" type="text/javascript"></script>
	<script src="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/jcrop_js/jquery.Jcrop.js" type="text/javascript"></script>
	<script src="https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/jcrop_js/jquery.color.js" type="text/javascript"></script>
	<script src="https://people.ee.ethz.ch/~gyglim/mot_annotator/static/bootstrap.min.js" type="text/javascript"></script>
	<style>
	html { overflow-x: hidden; }
	</style>
<script>
var box_X = new Array();
var box_Y = new Array();
var box_W = new Array();
var box_H = new Array();
var box_color = new Array();
var box_desc = [];
var endpoint = "https://people.ee.ethz.ch/~arunv/obj_desc_annotator/static/"
var rowno=1;
var currentrow=0;
var contxt=""
var bboxvalues=[]
var bboxcolors=[]
var currentbboxvalue=[]
var current_position="";
var current_count=1;
var current_relcell=0;
var current_relcomp=0;
var current_relprep=0;
colornow=""
$(function(){
	$('#myCanvas').Jcrop({
		onChange: showC,
		onSelect: drawrectangle,
		onRelease: addrow
	});
});
function showC(c)
{
	$('#x').val(c.x);
	$('#y').val(c.y);
	$('#x2').val(c.x2);
	$('#y2').val(c.y2);
	$('#w').val(c.w);
	$('#h').val(c.h);

};

function drawrectangle(c) {
  var c1=document.getElementById("myCanvas");
  var ctx=c1.getContext("2d");
  if(contxt==""){
  	var img=document.getElementById("prev_crop");  
  	ctx.drawImage(img,0,0,800,500); 
  }
  else{
	var img=document.getElementById("prev_crop");  
	ctx.drawImage(img,0,0,800,500);
	ctx.beginPath();
  	//ctx.drawImage(contxt,0,0,800,500)
	for (iter in bboxvalues){
		if (bboxvalues.hasOwnProperty(iter)) {
			var temp = bboxvalues[iter]["value"]
			ctx.beginPath();
    			ctx.rect(temp[0],temp[1],temp[2],temp[3]);
			ctx.fillStyle = 'transparent';
  			ctx.fill();
  			ctx.lineWidth = 5;
  			ctx.strokeStyle = bboxcolors[iter]["value"];
  			ctx.stroke();	
		}
    	}
  }
  var canvas = document.getElementById('myCanvas');
  var context = canvas.getContext('2d');
  context.beginPath();
  context.rect(c.x, c.y, c.w, c.h);
  currentbboxvalue = [c.x, c.y, c.w, c.h]
  context.fillStyle = 'transparent';
  context.fill();
  context.lineWidth = 5;
  colornow=getRandomColor();
  context.strokeStyle = colornow;
  context.stroke();
};

function addrow() {
	contxt="hai"
	//var c1=document.getElementById("myCanvas");
	//c1.setAttribute('crossOrigin', 'anonymous');
	//contxt=document.getElementById("prev_crop");
	//contxt.setAttribute('crossOrigin', 'anonymous');
	//contxt.src=c1.toDataURL()
	var table = document.getElementById("track");
	var row = document.getElementById("trow0"); // find row to copy
      	var clone = row.cloneNode(true); // copy children too
      	clone.id = "trow".concat(rowno.toString()); // change id or other attributes/contents
	clone.style.visibility = "initial";
	clone.height = "100%";
	for (var j = 0, col; col = clone.cells[j]; j++) {
		switch(j){
			case 0:
				col.textContent = "Box".concat(rowno.toString());break;
			case 1:
				col.innerHTML = "<button type='button' class='btn btn-primary btn-sm' style='width:80%;background-color:"+colornow+"'>"+colornow+"</button>";break;
			case 2:
				col.textContent = "-";break;
			case 3:
				col.innerHTML = "<input type='radio' name='select' onchange='if(this.checked){currentrow=this.value;doDesc();}' value="+rowno+" checked>";currentrow=rowno;break;
			case 4:
				col.innerHTML = "<input type='button' id='delid_"+currentrow.toString()+"' class='btn btn-danger btn-sm' onclick='deleterow(this.id);' value='Remove'>";break;
		}
		//console.log(col)	
	}
	bboxvalues.push({key:currentrow, value:currentbboxvalue});
	bboxcolors.push({key:currentrow, value:colornow});
	box_X.push({key:currentrow, value:currentbboxvalue[0]});box_Y.push({key:currentrow, value:currentbboxvalue[1]});box_W.push({key:currentrow, value:currentbboxvalue[2]});box_H.push({key:currentrow, value:currentbboxvalue[3]});box_color.push({key:currentrow, value:colornow});
	rowno=rowno+1;
      	table.appendChild(clone)
};
function deleterow(del_id) {
	var delrow= parseInt(del_id.split("_")[1]);
	for (iter in bboxvalues){
		if(bboxvalues[iter]["key"] == delrow){bboxvalues.splice(iter,1);}
		if(bboxcolors[iter]["key"] == delrow){bboxcolors.splice(iter,1);}
		if(box_X[iter]["key"] == delrow){box_X.splice(iter,1);}
		if(box_Y[iter]["key"] == delrow){box_Y.splice(iter,1);}
		if(box_W[iter]["key"] == delrow){box_W.splice(iter,1);}
		if(box_H[iter]["key"] == delrow){box_H.splice(iter,1);}
		if(box_color[iter]["key"] == delrow){box_color.splice(iter,1);}
		//if(box_desc.hasOwnProperty(iter)){if(box_desc[iter]["key"] == delrow){box_desc.splice(iter,1);}}
    	}
	for (iter in box_desc){
		if(box_desc.hasOwnProperty(iter)){if(box_desc[iter]["key"] == delrow){box_desc.splice(iter,1);}}
    	}
	var row_tobedel = document.getElementById("trow".concat(delrow.toString()));
    	row_tobedel.parentNode.removeChild(row_tobedel);	
}
function doDesc() {
    var table = document.getElementById("track");
    var row = document.getElementById("trow".concat((currentrow).toString()));
    x = row.cells[2].textContent;
    document.getElementById("objdesc").value = x;
    return false;
}
function doSomething() {
    var x = document.getElementById("objdesc").value;
    var table = document.getElementById("track");
    var row = document.getElementById("trow".concat((currentrow).toString()));
    row.cells[2].textContent = x;
    for (iter in box_desc){
	if(box_desc.hasOwnProperty(iter)){if(box_desc[iter]["key"] == currentrow){box_desc.splice(iter,1);}}
    }
    box_desc.push({key:currentrow, value:x});
    return false;
}
function getRandomColor() {
    var letters = '0123456789ABCDEF';
    var color = '#';
    for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}
$(function(){
    var $select = $(".1-100");
    for (i=1;i<=100;i++){
        $select.append($('<option></option>').val(i).html(i))
    }
});
$(document).ready(function(){
    $('.combobox').combobox();
  });
function getEventTarget(e) {
    e = e || window.event;
    return e.target || e.srcElement; 
}
window.onload = function () {
    document.getElementById('demlist').onclick = function(event) {
    var target = getEventTarget(event);
    var valu=target.innerHTML;
    $('#datebox').val(valu);
    document.getElementById("sensiz").innerText =valu;
    };
    document.getElementById('actionlist').onclick = function(event) {
    var target = getEventTarget(event);
    var valu=target.innerHTML;
    $('#actionbox').val(valu);
    document.getElementById("senact").innerText =valu;
    };
    document.getElementById('colorlist').onclick = function(event) {
    var target = getEventTarget(event);
    var valu=target.innerHTML;
    $('#colorbox').val(valu);
    document.getElementById("sencolor").innerText =valu;
    };
}
function position(valu){
	current_position = valu;
	if(valu!="near"&&valu!="far"){valu = "at "+valu;}
	document.getElementById("senpos").innerText =valu;
}
function countgroup(valu){
	current_count = valu;
	document.getElementById("sennum").innerText =valu;
}
function spatialrel(valu,tag){
	if(tag=="relcell"){spatialid = 'spatialrel';}if(tag=="relcomp"){spatialid = 'comprel';}if(tag=="relprep"){spatialid = 'preprel';}
	id=valu.id;
	id=parseInt(id.replace(tag+'text',''));
	var spatialadj = document.getElementById(tag+"select"+id.toString()).value;
	if(document.getElementById(spatialid+id.toString()) !== null&&valu.value!==null){document.getElementById(spatialid+id.toString()).innerText=spatialadj+" "+valu.value;}
	else{
	if(valu.value!==""){var newDiv=document.createElement('div');
	newDiv.className = "checkbox";
    	newDiv.innerHTML="<label><input type='checkbox' value=''> The object is <b><span id='"+spatialid+id.toString()+"'>"+spatialadj+" "+valu.value+"</span></b><br></label>";
	document.getElementById('sentenceform').appendChild(newDiv);}
	}
}
function addSelect(divname,id,tag) {
    id=parseInt(id.replace(tag+'text',''));
    if(tag=="relcell"){var cur_relcell = current_relcell;};if(tag=="relcomp"){var cur_relcell = current_relcomp;}if(tag=="relprep"){var cur_relcell = current_relprep;}
    if(cur_relcell==id){
    if(tag=="relcell"){current_relcell = id+1;};if(tag=="relcomp"){current_relcomp = id+1;}if(tag=="relprep"){current_relprep = id+1;}
    cur_relcell = id+1;
    var newDiv=document.createElement('div');
    newDiv.id=tag+cur_relcell.toString();
    var relcell0 = document.getElementById(tag+'0')
    var html = "";
    var appendstr = relcell0.innerHTML.replace(/select0/g,'select'+cur_relcell.toString());//replace('relcellselect0','relcellselect'+current_relcell.toString())
    html += appendstr.replace('text0','text'+cur_relcell.toString());
    html += "";
    newDiv.innerHTML= html;
    //alert(newDiv.innerHTML)
    document.getElementById(divname).appendChild(newDiv);
    }
    else{//alert('not reached');
    }
}
function displaysent(valu){
    if(valu.id=="colorbox"){var col = document.getElementById("sencolor");}if(valu.id=="actionbox"){var col = document.getElementById("senact");}
    if(valu.id=="datebox"){var col = document.getElementById("sensiz");}
    //console.log('hai');
    var objcol = valu.value;
    col.innerText = objcol;
}
</script>
	
    </head>

    <body>
        {% block content %}{% endblock %}
    </body>
</html>
