{% extends "layout.html" %}

{% block content %}
    <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-collapse collapse">

        <ul class="nav navbar-nav navbar-left">
            <!--<img alt="LOGO" src="...">-->
	{% if session['assignment_id']!="ASSIGNMENT_ID_NOT_AVAILABLE":%}
            <input type="button" class="btn btn-success btn-default navbar-btn btn-head" value="Submit Relevance"
                   onclick='annotate_relevance()'/><!--"$('#submit_hit_model').modal('show');"/> -->
	{% else %}
		<br/>Please <b>Accept HIT</b> to submit the results
	{% endif%}
        </ul>
	<ul class="nav navbar-nav navbar-right" style="margin-right:20px">
            <input type="button" class="btn-head btn btn-default navbar-btn" style="background-color:#00FFFF" value="Show Instructions"
                   onclick="$('#show_instructions').modal('show');" /></ul>
        <center><h3><b>Image Annotation Task: Relevance</b></h3></center>

    </div>
    </nav>
    
    <div class="jumbotron">
      	<div class="row">
         	<div class="col-md-3"><div align='center'>
				<h4 style="display:inline">QUERY:</h4>
        			<h2 style="display:inline"><b>{%print " "+query%}</b></h2><br/><br/>
				<div class="boxed" align="left" style="margin-left:30px"><h3 align = "center">Instructions</h3>
				<ul>
				<li>If you don't understand the query, please skip this task or search the web to get more information about it.</li>
				<li>Press Left and Right Keys to navigate through the images</li>
				<li> Press Up and Down Keys to mark the relevance of the images as:Very Good, Good or Not Good </li>
				<li> Press Submit Relevance Button after annotating all the images and wait for few seconds.</li>
				</ul></div>
				</div></div>
				<div class="col-md-1"><video id="video" width="360" height="240" style="visibility: hidden" controls autoplay muted>
  						<source src={{url_for('static', filename = "video/2012 julian calendar printable.mp4") }} type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'></source>
					</video>
				</div>
				<div class="col-md-6">	
				<section class="demo" align="center">
      				<!--<button class="next" onclick=plusDivs(+1) >Next</button>
      				<button class="prev" onclick=plusDivs(-1)>Previous</button> -->
				
      				<div class="slider" >
					
       				  	{% block loop_item2 %}
					{% for file_path in files: %}
        				<div class="mySlides"><img src="{{'https://s3.amazonaws.com/thumbnail-annotation/AMT_VideoFrames/'+file_path }}"/></div>
					<div class="radio-inline1"><label ><input class="radio1" onclick=markIN("{{file_path.replace(" ","_")}}","Very_Good",{{ loop.index0 }}) type="radio" name="{{ loop.index0 }}" value="3"/>Very Good</label></div>
					<div class="radio-inline2"><label ><input class="radio2" onclick=markIN("{{file_path.replace(" ","_")}}","Good",{{ loop.index0 }}) type="radio" name="{{ loop.index0 }}" value="2"/>Good</label></div>
					<div class="radio-inline3"><label ><input class="radio3" onclick=markIN("{{file_path.replace(" ","_")}}","Not_Good",{{ loop.index0 }}) type="radio" name="{{ loop.index0 }}" value="1"/>Not Good</label></div>
					<div class="radio-inline4"><label ><input class="radio4" onclick=markIN("{{file_path.replace(" ","_")}}","Trash",{{ loop.index0 }}) type="radio" name="{{ loop.index0 }}" value="0"/>Trash</label></div>
					{% if loop.index0==0%}
						<script>plusDivs(0)</script>
					{% endif%}
					{% endfor %}
					{% endblock %}
					<div class="mySlides"><img src="https://people.ee.ethz.ch/~arunv/div_rel_annotator/static/endpic.png"/></div>
					<div class="radio-inline1" style='visibility: hidden'><label ><input class="radio1" onclick="" type="radio" name="the_end" value="3"/>Very Good</label></div>
					<div class="radio-inline2" style='visibility: hidden'><label ><input class="radio2" onclick="" type="radio" name="the_end" value="2"/>Good</label></div>
					<div class="radio-inline3"style='visibility: hidden'><label ><input class="radio3" onclick="" type="radio" name="the_end" value="1"/>Not Good</label></div>
					<div class="radio-inline4"style='visibility: hidden'><label ><input class="radio4" onclick="" type="radio" name="the_end" value="1"/>Trash</label></div>
      				</div>
				<a class="left carousel-control" href="#slider" role="button" onclick=plusDivs(-1) data-slide="prev">
        				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        				<span class="sr-only">Previous</span>
      				</a>
      				<a class="right carousel-control" href="#slider" role="button" onclick=plusDivs(+1) data-slide="next">
        				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        				<span class="sr-only">Next</span>
      				</a>
				
    				</section> 
				</div>
        	 	<!--<div class="col-md-4"><div align='center'>
					<video width="360" height="240" controls autoplay muted>
  						<source src={{url_for('static', filename = "video/2012 julian calendar printable.mp4") }} type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'></source>
					</video>
			</div>-->
       		</div>
	</div>
    </div>
    
    <div class="row">
       <div style='margin-left:20px'>
	<indent>
	<table align="center">
	
	{% block loop_item %}
	{% for file_path in files %}
	{% if loop.index0%7==0%}
		<tr>
	{% endif%}
	<td >
	<a href="{{'https://s3.amazonaws.com/thumbnail-annotation/AMT_VideoFrames/'+file_path }}"  class="thumbnail" onclick="slideIndex={{loop.index0}}+1;showDivs(slideIndex); return false;">  
        <div class="enlarge" id="{{ file_path.replace(" ","_")}}"><img src="{{'https://s3.amazonaws.com/thumbnail-annotation/AMT_VideoFrames/'+file_path }}" alt="">
	<span id="overwrite"></span></div></a>
	</td>
	{% if loop.index0%7==6%}
		</tr>
	{% endif%}
	{% endfor%}
	{% endblock %}
	</table>
	</indent>
    
    </div>
    </div>
<div id="quali_info" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Feedback</h3>
            </div>
            <div class="modal-body">
                <p id='quali_text'></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id='finish_quali' data-dismiss="modal">OK</button>
            </div>

        </div>
    </div>
</div>
<form id='submit_for_Rel' role='form' method="post" action="https://people.ee.ethz.ch/~arunv/div_rel_annotator/static/diversity/"> <button style="visibility:hidden" align="right" onclick="annotate_relevance()" type="submit" class="btn btn-default">Go To Diversity</button></form>
<div id="show_instructions" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h3 class="modal-title">Instructions</h3></center>
            </div>
                <div class="modal-body">
                   <center><ul style="text-align:left">This assignment consists of two related tasks. First, you will complete the relevance task, where you will assess the relevance of all the images to a text query (a phrase). In the second task, the diversity task, in which you will group frames of a video by visual similarity. This task is called the diversity task because the number of groups created will reflect the diversity of the visual content within the video.
				
				<li> The two tasks are to be performed one after the other.</li>
				<li> First, The <b>Relevance task</b></li>
					<ul>
					<li> You are given frames from a video in sequential order.</li>
					<li> Your task is to assess how relevant the given frames are to a text query.</li>
						<ul>
						<li>If you don't understand the query, please skip this task or search the web to get more information about it.</li>
						</ul>
					<li> Annotate the given frames as Very Good, Good, Not Good or Trash.</li>
						<ul>
						<li>Please label the frames as Trash only when they are "bad", e.g. blurry, don't have any clear objects, are dark or that show cuts between video sequences</li>
						</ul>
					<li> After giving a label to all the frames, press the “Submit Relevance” button.</li>
					</ul>
				<li> Second, The <b>Diversity task</b></li>
					<ul>
					<li> You are shown the same frames as before.</li>
					<li> Your task is to assign frames of the video to several groups, according to their visual similarity.</li>
						<ul>
						<li>Place the visually similar frames into the same group.</li>
						<li>The groups need not consist of consecutive frames. Jumping around to select frames is fine too</li>
						</ul>
					<li> You can create as many groups as you like.</li>
					<li> After finishing this task, press the “Submit HIT” button.</li>
					
					</ul>
				<li>After completion the HIT will be completed.</li>
				</ul></center>
                </div>
                <div class="modal-footer">
                </div>
        </div>

      </div>
</div>
<div id="submit_hit_model" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Submit HIT</h3>
            </div>
            <form id='submit_hit_form' role='form' method="post" action=""> 
                <div class="modal-body">
                    <p><label>Username:</label> <input type="text" name="username" required></p>
        	    <p><label>Message:</label> <textarea name="message"></textarea></p>

                </div>
                <div class="modal-footer">
                     <span id="submit_result"></span>
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>

      </div>
</div>
{% endblock %}
